<nav class="navbar navbar-expand-lg bg-primary fixed-top" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">uConnect</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#tab1">For You</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab2">Popular</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab2">Upcoming</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab2">Recent</a>
                </li>
            </ul>
            <form class="d-flex" data-bs-theme="light">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav">
                {% if username %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-user"></i> {{ username }}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">My Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="/profile/logout">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/profile/signin"><i class="fa-solid fa-user"></i> Sign In</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>