<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{% if title %}{{ title }}{% else %}uConnect{% endif %}</title>
</head>
<body class="d-flex flex-column" style="min-height: 100vh; padding-top: 67.2px">
    {% include "./navbar.html" %}
    <main class="flex-shrink-0 flex-grow-1">
        {% block body %}{% endblock %}
    </main>
    {% include "./footer.html" %}
    <script src="/static/js/htmlFilter.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/registered-breakdown.js" ></script>
</body>
</html>
