.list-group-item-image {
    height: 100px;
    width: 100px;
    min-height: 100px;
    min-width: 100px;
    background-size: cover;
    background-position: 50%;
    display: inline-block;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
    -webkit-box-orient: vertical;
 }