{% macro large(name, start, description, href, img, interest) %}
<a href="{{href}}" class="list-group-item list-group-item-action py-3">
    <div class="d-flex gap-3 mb-2">
        <div class="rounded flex-shrink-0 list-group-item-image" style="background-image: url('{{img}}');"></div>
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h5 class="mb-0">{{ name|safe }}</h5>
                <p class="mb-0 opacity-75">{{ description|safe }}</p>
            </div>
            <small class="text-nowrap">{{ start }}<br>{{ start }}</small>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 40%;"></div>
        <div class="progress-bar bg-info" role="progressbar" style="width: 10%;"></div>
        <div class="progress-bar bg-success" role="progressbar" style="width: 30%;"></div>
        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%;"></div>
    </div>
</a>
{% endmacro %}

{% macro small(name, start, href) %}
<a href="{{ href }}" class="list-group-item list-group-item-action p-3 w-100 justify-content-between">
    <h5 class="mb-2">{{ name|safe }}</h5>
    <small class="text-nowrap">{{ start | date("dddd, MMMM Do YYYY, h:mm a") }}</small>
</a>
{% endmacro %}